<!-- get here with /polls/roll -->
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Game 21</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/buttons.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'polls/roll_dice.js' %}"></script>
    <script src="{% static 'polls/asgi_channels.js' %}"></script>
</head>

<body>
    <!-- option to look at the dice (disabled for the first player) -->
    <button id="show" onclick="show_dice()" disabled>Show</button>
    <!-- roll the dice (start of first player) -->
    <button id="roll" onclick="roll_dice()">Roll dice</button>
    <p id="result"></p>

    <!-- two options, be honest or lie -->
    <button class="hidden" name="option" onclick="end_truth()">Be honest</button>
    <button class="hidden" name="option" onclick="lie()">Lie</button>
    <p class="hidden" name="lie">Which numbers do you wish to have?</p>

    <!-- two  hoverable dropdowns to select the 2 dice -->
    <div class="container hidden" name="lie">
        <li class="dropdown">
            <button class="dropbtn" id="l1">Die 1</button>
            <!-- ToDo add 'End my turn'-button that saves the input -->
            <div class="dropdown-content" id="lie1">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
            </div>
        </li>
        <li class="dropdown">
            <button class="dropbtn" id="l2">Die 2</button>
            <div class="dropdown-content" id="lie2">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
            </div>
        </li>
    </div>

    <!-- additionally again the two options are presented -->
    <button class="hidden" name="final_option" onclick="end_truth()">Be honest</button>
    <button class="hidden" name="final_option" onclick="end_lie()">Lie</button>

    <!-- end-of-round text + restart game button -->
    <div class="end_of_round"></div>
    <button class="new_game_btn hidden" onclick="new_game()">New Game</button>
    <!-- ToDo add Computer playing against you -->
</body>
</html>